/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.tasks {
    background-color: #ede0e0;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.tasks .task.done {
    opacity: 0.5;
}